@import "../../scss/colors.scss";

.__contest_rules {
  margin-left: 20px;
  margin-right: 20px;

  .__contest_rules_main_title {
    width: 100%;
    height: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $grey2;
    text-decoration: underline;
    text-align: center;
  }

  ul {
        list-style-image: url('../../assets/correct-copy-3.png');
        li {
            margin: 15px 0px;
            &::marker {
                height: 10px;
            }
            span {
                color: #688fbd
            }
        }
  }

  a {
    color: #688fbd !important;
  }
}
