@import "../../scss/colors.scss";

.__power_center_card_details {
  width: 280px;
  height: 380px;
  border-radius: 8px;
  background-color: $black2;
  display: flex;
  flex-direction: column;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: -46px 18px;
  //background-image: url(../../assets/opacity-player.png); 
  background-size: cover;
}

@media (max-width: 540px) {
  .__power_center_card_details {
    width: unset;
  }
}
