@import '../../scss/colors.scss';

.__power_center_card {
    width: 280px;
    height: 380px;
    border-radius: 8px;
    background-color: $black2;
    display: flex;
    flex-direction: column;


    .__power_center_card_powerdfs {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        .__power_center_card_powerdfs_hr {
            width: 30px;
            height: 1px;
            border: solid 2px $grey2;
        }

        .__power_center_card_powerdfs_hr_left {
            margin: 14px 13px 13px 0;
        }

        .__power_center_card_powerdfs_hr_right {
            margin: 14px 0 13px 13px;
        }

        .__power_center_card_powerdfs_title {
            width: 150px;
            height: 28px;
            margin: 10 13px 20px;
            font-family: Poppins;
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $primary;

            font-weight: bold !important;

            .__power_center_card_powerdfs_title_first {
                color: $grey2;
            }
        }
    }

    .__power_center_card_prize_pool {
            margin: 0 auto;

        .__power_center_card_prize_pool_common {
            width: 100%;
            height: 40px;
            font-family: Poppins;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: center;
            color: $grey2;
        }

        .__power_center_card_prize_pool_price {
            font-size: 34px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            font-weight: bold !important;
        }

        .__power_center_card_prize_pool_text {
            opacity: 0.6;
            font-weight: bold !important;
        }
    }

    .__power_center_card_enter {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .__power_center_card_date_time {
        width: 100%;
        height: 17px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-shadow: 0 2px 4px $black5;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $grey11;
    }

    .__power_center_card_total {
        p {
            width: 100%;
            height: 25px;
            margin: 0 12px 3px 20px;
            font-family: Poppins;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $white;

            span {
                font-size: 14px;
                font-weight: 300;
                opacity: 0.6;
            }
        }
    }

    .__power_center_card_status_and_details {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;

        .__power_center_card_details {
            display: flex;
            flex-direction: row;
            flex: 1;
            margin-right: 20px;

            .__power_center_card_details_link {
                width: 100%;
                height: 17px;
                margin: 0 5px 0 0;
                font-family: Poppins;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: right;
                color: $primary;
                text-decoration: underline;
                cursor: pointer;
            }

            .__power_center_card_details_link_forward_arrow {
                width: 4px;
                height: 6px;
                color: $primary;
            }
        }
    }
}

.__power_center__challenge_card{
    width: 280px;
    height: 380px;
    border-radius: 8px;
    background-color: $black2;
    display: flex;
    flex-direction: column;
    padding: 16px;

    .__card_title{
        .__card_title_text{
            width: 210px;
            height: 56px;
            margin: 0 44px 4px 0;
            font-family: Poppins;
            font-size: 20px;
            font-weight: bold !important;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #f2f2f2;

            .__card__title_first{
                color: #fb6e00;
            }
        }
    }

    .__start_end_date {
        .__date_text{
            margin-bottom: 14px;
            width: 146px;
            height: 17px;
            margin: 4px 52px 14px 0;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            font-family: Poppins;
            font-size: 12px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: rgba(242, 242, 242, 0.75);
        }
    }
    
    .__current_jackpot {

        .__current_jackpot_text {
            width: 158px;
            height: 20px;
            margin: 14px 40px 12px 0;
            text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
            font-family: Poppins;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: #fb6e00;
        }
    }

    .__jackpot_detail {
        width: 177px;
        height: 60px;
        margin: 5px 6px 10px 60px;
        text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        font-family: Poppins;
        font-size: 12px;
        
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: right;
        color: #f2f2f2;
        .__jackpot_detail_text {
            font-size: 12px;
            font-weight: bold !important;
            
            .__jackpot_detail_sub_text {
                color: #fb6e00;
            }
        }
    }

    .__win_power {
        width: 121px;
        height: 32px;
        margin: 5px 77px 14px 0;
        text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        font-family: Poppins;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: var(--white-60);
        .__win_power_span {
            color: rgba(242, 242, 242, 0.75);
        }
    }
    .__card_button {
        margin-bottom: 11px;

    }

    .__power_center_card_status_and_details {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;

        .__power_center_card_details {
            display: flex;
            flex-direction: row;
            flex: 1;
            margin-right: 20px;

            .__power_center_card_details_link {
                width: 100%;
                height: 17px;
                margin: 0 5px 0 0;
                font-family: Poppins;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: right;
                color: $primary;
                text-decoration: underline;
                cursor: pointer;
            }

            .__power_center_card_details_link_forward_arrow {
                width: 4px;
                height: 6px;
                color: $primary;
            }
        }
    }
}

