@import "../../scss/colors.scss";

.__power_center_card {
  width: 280px;
  height: 380px;
  border-radius: 8px;
  background-color: $black2;
  display: flex;
  flex-direction: column;
  padding: 0px 24px 24px 24px;
  position: relative;
  .topId {
    margin-left: 0px;
    color: rgb(242, 242, 242);
    opacity: 0.6;
    margin-top: 0px;
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .__win_power {
    width: 138px;
    height: 32px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: $primary;
    position: absolute;
    right: 10px;
    text-align: end;
    .__win_power_span {
      color: $primary;
    }
  }
  .__start_end_date {
    width: 120px;
    height: 15px;
    margin: 0 auto;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(242, 242, 242, 0.75);
  }
  .__power_center_card_powerdfs {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .__power_center_card_powerdfs_hr {
      width: 30px;
      height: 1px;
      border: solid 1px #f2f2f2;
      border-bottom: 0;
    }

    .__power_center_card_powerdfs_hr_left {
      margin: 14px 13px 13px 0;
    }

    .__power_center_card_powerdfs_hr_right {
      margin: 14px 0 13px 13px;
    }

    .__power_center_card_powerdfs_title {
      width: 160px;
      height: 28px;
      margin: 10 13px 20px;
      font-family: Poppins;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $primary;

      font-weight: bold !important;

      .__power_center_card_powerdfs_title_first {
        color: $grey2;
      }
    }
  }

  .__power_center_card_prize_pool {
    position: absolute;
    top: 135px;
    text-align: center;
    margin: 0 auto;
    left: 24px;
    right: 24px;

    .__power_center_card_prize_pool_common {
      width: 100%;
      height: 40px;
      font-family: Poppins;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: center;
      color: $grey2;
    }

    .__power_center_card_prize_pool_price {
      font-size: 32px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      font-weight: bold !important;
      justify-content: center;
    }

    .__power_center_card_prize_pool_text {
      opacity: 0.6;
      font-weight: bold !important;
      margin-top: 10px;
    }
  }

  .__power_center_card_enter {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .__power_center_card_date_time {
    width: 100%;
    height: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 0 2px 4px $black5;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $grey11;
  }

  .__power_center_card_total {
    p {
      width: 100%;
      height: 25px;
      margin: 0 12px 3px 20px;
      font-family: Poppins;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $white;

      span {
        font-size: 14px;
        font-weight: 300;
        opacity: 1;
        vertical-align: -1px;
        color: #a2a3a3;
      }
    }
  }

  .__card_button {
    margin-bottom: 11px;
    position: absolute;
    bottom: 60px;
  }

  .__power_center_card_status_and_details {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* height: 50px; */
    position: absolute;
    bottom: 18px;
    right: 24px;
    width: 100%;
    padding-left: 24px;

    .__power_center_card_details {
      display: flex;
      flex-direction: row;
      flex: 1;
      //margin-right: 20px;

      .__power_center_card_details_link {
        width: 100%;
        height: 17px;
        margin: 0 5px 0 0;
        font-family: Poppins;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: $primary;
        text-decoration: underline;
        cursor: pointer;
      }

      .__power_center_card_details_link_forward_arrow {
        //width: 4px;
        //height: 6px;
        color: $primary;
      }
    }
  }
}

.__power_center__challenge_card {
  width: 280px;
  height: 380px;
  border-radius: 8px;
  background-color: $black2;
  display: flex;
  flex-direction: column;
  padding: 0px 24px 24px 24px;
  position: relative;
  .topId {
    margin-left: 0px;
    color: rgb(242, 242, 242);
    opacity: 0.6;
    margin-top: 0px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .__win_power {
    width: 138px;
    height: 32px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: $primary;
    position: absolute;
    right: 10px;
    text-align: end;
    .__win_power_span {
      color: $primary;
    }
  }
  .__card_title {
    .__card_title_text {
      //height: 44px;
      margin: 8px 56px 7px 0;
      font-family: Poppins;
      font-size: 18px;
      font-weight: bold !important;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: normal;
      color: #f2f2f2;
      width: 212px;
      .__card__title_first {
        color: #fb6e00;
      }
    }
  }
  .__start_end_date {
    width: 120px;
    height: 15px;
    margin: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(242, 242, 242, 0.75);
  }
  .__current_jackpot {
    position: absolute;
    top: 135px;
    .__current_jackpot_text {
      width: 158px;
      display: block;
      //height: 30px;
      margin: 0px 40px 12px 0;
      text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      font-family: Poppins;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #fb6e00;
    }
    .__current_jackpot_amount {
      margin-bottom: 25px;
      font-family: Poppins;
      font-size: 34px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.59;
      letter-spacing: normal;
      color: #f2f2f2;
    }
  }

  .__card_button {
    margin-bottom: 11px;
    position: absolute;
    bottom: 60px;
    width: 88%;
  }

  .__power_center_card_total {
    p {
      width: 100%;
      height: 25px;
      margin: 0 12px 0px 0px;
      font-family: Poppins;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $white;

      span {
        font-size: 14px;
        font-weight: 300;
        opacity: 1;
        vertical-align: 1px;
        color: #a2a3a3;
      }
    }
  }

  .__power_center_card_status_and_details {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* height: 50px; */
    position: absolute;
    bottom: 18px;
    right: 24px;
    width: 100%;
    padding-left: 24px;
    padding-left: 24px;
    left: 0;
    padding-right: 24px;
    .__power_center_card_details {
      display: flex;
      flex-direction: row;
      flex: 1;
      // margin-right: 20px;

      .__power_center_card_details_link {
        width: 100%;
        height: 17px;
        margin: 0 5px 0 0;
        font-family: Poppins;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: $primary;
        text-decoration: underline;
        cursor: pointer;
      }

      .__power_center_card_details_link_forward_arrow {
        //width: 4px;
        //height: 6px;
        color: $primary;
      }
    }
  }
}
