@import "../../scss/colors.scss";

.content_div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1500;
}

.message {
  flex-grow: 1;
  margin-left: 18px;
  font-size: 1rem;
  font-weight: 400;
}

.__wrapper {
  position: fixed;
  top: 20px;
  animation: enter-leave 5s ease-in-out;
  left: calc(50% - 300px);
  width: 600px;
  height: 42px;
  border-radius: 4px;
  z-index: 20000;
  padding: 8px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @keyframes enter-leave {
    0% {
      top: -60px;
    }
    7.5% {
      top: 16px;
    }
    92.5% {
      top: 16px;
    }
    100% {
      top: -60px;
    }
  }
  @media screen and (max-width: 640px) {
    width: 320px;
    left: calc(50% - 180px);
  }
}

.error {
  border: 1px solid tomato;
  background-color: lightSalmon;
  color: darkred;
}

.success {
  border: 1px solid teal;
  background-color: #66cdaa;
  color: teal;
}
