.easyplay {
  padding-bottom: 150px;
  .play__heading {
    margin-top: 30px;
    h2 {
      font-size: 4.43rem;
      font-weight: 900;
      text-align: center;
      font-family: Teko;
      color: #fb6e00;
      margin: 1.29em 0 0.95em;
      @media (max-width: 767px) {
        font-family: Teko;
        font-size: 32px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #fb6e00;
      }
    }
  }
  .rechargeSection {
    background-image: url(../../assets/rechargehowtoplaybgmobile.png);
    height: 180px;
    text-align: center;
    img {
      margin-top: 32px;
    }
    p{
      width: 185px;
      height: 46px;
      margin: 16px auto;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #f2f2f2;
    }
  }
}
